.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
  position: relative;
  z-index: 30; /* ensure canvas is above fixed background portal layers */
}

.circular-gallery:active {
  cursor: grabbing;
}

.circular-gallery canvas {
  width: 100%;
  height: 100%;
}
